body {
  font-family: 'Lato';
  background-color: #dedede;
  box-sizing: border-box;
  background-image: url("https://images.pexels.com/photos/1069798/pexels-photo-1069798.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
}
body .board {
  width: 80vw;
  margin: 0 auto;

}
body .board button {
  display: inline-block;
  padding: 5px 5px;
  
  font-size: 12px;
  font-weight: 900;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #fff;
  background-color: inherit;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
  outline: 0 !important;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
}
body .board button:hover, body .board button:active {
  color: #ccc; 
}
body .board .add-card, .create-column {
  min-width: 100px;
  margin:  0;
}
body .board .column-container {
 position: relative;


}
body .board .col-del {
  width: 50px;
  margin: 2px;
  background: rgba(255, 255, 255, 0.3);
  color: white; 
  border-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top:10px;
  right: 10px;
}
body .board .add-card {
  position: absolute;
  right: 10px;
  bottom: 5px;
}
body .board .card-del {
  width: 20px;
  height:20px;
  margin: 2px;
  background: none;
  color: white; 
  border:none;
  position: absolute;
  top:0px;
  right: 0px;
}
.column {
  position: relative;
  float: left;
  min-width: 30%;
  margin-right: 10px;
  margin-top: 10px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
.column ul  {
    list-style-type: none;
    width: 100%;
    max-width: 300px;
    float: left;
    min-height:100px;

}
.card{
  position: relative;
  float: left;
  margin: 5px 5px 30px 5px;
  background-color: rgba(207, 214, 126, 0.7);
  border-radius: 5px;
  padding: 5px 25px 5px 15px;
  height: 100%;
  font-weight: 900;
  box-shadow: 0 6px 10px -6px #000;

}

.column-container {
 height:100vh;

}
h1 {
  font-weight: 900;
  font-size: 64px;
  margin-top: 5vh;
  color: rgba(255, 255, 255, 0.3);
}